__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.venv/
venv/
env/
.env
.git/
.gitignore
.vscode/
.idea/
*.swp
.DS_Store
docu/
README.md

# Angular build artefakte (dev), aber dist/ MUSS rein
frontend/node_modules/
frontend/.angular/
frontend/.nx/
frontend/.vscode/
